<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is home page 1 * 2 .</h1>
    <h3> <%= ["hello", "bonjour", "namaste"][0] %> </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae qui reprehenderit fugiat explicabo molestias quisquam dolore rem, perferendis, est aspernatur illo odio consectetur eos. Beatae quod enim quibusdam adipisci maxime.</p>
    <button>click me!</button>
</body>
</html>