#mainTopic {
    color: blue;
}

* {
    text-align: center;
}

h1, h3, div h5 {
    font-family: Georgia;
}

.p {
    color: white;
    background-color: cornflowerblue;
}

div button {
    color: purple;
    background-color: azure;
}

div button:hover {
    background-color: yellow;
    color: blue;
}

.p:nth-child(odd) {
    color: yellow;
}

h1::first-letter {
    color: red;
}

#yes:checked + label {
    color: darkgreen;
}