.box {
    height: 100px;
    width: 300px;
    background-color: pink;
    
    /* animation-name: fontAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: normal; */

    animation: widthAnimate 3s ease-in 0s 2 normal;
}

@keyframes widthAnimate {
    0% {
        width: 10px;
        background-color: pink;
    }

    50% {
        width: 200px;
        background-color: yellow;
        border-radius: 10px;
    }

    100% {
        width: 400px;
        background-color: green;
        border-radius: 15px;
    }

}